.header {
    height: 145px;
    padding: 26px;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 565px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url('assets/images/bg.png');
  z-index: -1;
}

.header .content {
  display: flex;
  justify-content: space-between;
}

.logo  {
  display: flex;
  align-items: center;
}

h1 {
  font-size: 41px;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: "Lucida Sans";
  font-style: italic;
  text-align: left; 
  margin: 0;
  padding-top: 12px;
  padding-left: 1px;
  font-weight: 400;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
    text-decoration: none;
}

.header nav {
  align-self: flex-end;
}

.main-nav {
  background-image: linear-gradient(0deg, #f5c505 0%, #f5c505 100%);
  box-shadow: -5px -5px yellow, -7px -7px #f5c505;
}

.main-nav li {
  display: inline-block;
  font-size: 17px;
  letter-spacing: 0px;
  /* color: #9b7d08; */
  font-family: "Segoe WP";
  text-align: center;
  padding: 10px 40px;
  text-transform: uppercase;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
}

li.about-us::before {
  content: '';
  position: absolute;
  background-image: url('assets/images/about-us.svg');
  width: 20px;
  height: 18px;
  left: 10px;
}

li.services::before {
  content: '';
  position: absolute;
  background-image: url('assets/images/services.svg');
  width: 20px;
  height: 18px;
  left: 10px;
}

li.contacts::before {
  content: '';
  position: absolute;
  background-image: url('assets/images/contacts.svg');
  width: 20px;
  height: 18px;
  left: 10px;
}

.main-nav li a {
  color: #9b7d08;
}

.video-container {
  position: relative;
  bottom: 28px;
  left: 9px;
}

.feature-title {
  flex: 1;
}

 video[poster]{
    object-fit: cover;
  }

.play-button-center {
  position: absolute;
  width: 67px;
  height: 67px;
  border-radius: 50%;
  background-color: #f5c506;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  opacity: 0.7;
}

.play-button-center:hover {
  opacity: 0.9;
}

.carousel {
  height: 368px;
}

.events {
  background-color: yellow;
  height: 200px;
}

.free {
  background-color: grey;
  height: 200px;
}

.footer {
  height: 64px;
  background: yellow;
}

main {
  min-height: calc(100% - 64px - 149px);
}

.center {
  width: 1020px;
  margin: 0 auto;
  display: flex;
}

h2 {
  font-size: 63px;
  letter-spacing: 1px;
  color: #f5c506;
  font-family: "Asap";
  font-weight: 400;
  text-align: center;
  padding: 0;
  margin: 0;
  
}

.feature-title {
  display: flex;
  justify-content: center;
  width: 400px;
  height: 130px;
  align-items: center;
  flex-direction: column;
  padding: 53px 0 0 37px;
}

.feature-title h2+h2 {
  color: #fff;
}

.features {
display: flex;
justify-content: center;
align-items: center;
height: 213px;

}



.features-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-transform: uppercase;
  
  width: 340px;
  text-align: center;
  font-size: 27px;
  letter-spacing: 0px;
  color: #000000;
  font-family: "Segoe UI";
  font-weight: 300;
  text-align: center;
  position: relative;
  top: 40px;
 
}

.features-item p {
   margin-top: 7px;
}

.features-wrapper {
  width: 340px;
  height: 213px; 
  border-left: 1px solid rgb(146, 141, 141);
  
}

.features div+div+div {
  border-right: 1px solid  rgb(146, 141, 141);
}
